/* .client-testimonial-slider .slick-track {
    width: 100% !important;
} */

.client-testimonial-slider-padd {
    width: 319px !important;
}

/* .footer-note h1, h2, h3, h4, h5, h6 {
    font-size: 18px;
    font-weight: bold;
} */